= link_to ticket_path(ticket, ticket: {started_service_at: DateTime.now}), method: :patch, class: "btn btn-success btn-xs", disabled: (ticket.waiting?).! do
  %i.fa.fa-play

= link_to ticket_path(ticket, ticket: {finished_service_at: DateTime.now}), method: :patch, class: "btn btn-info btn-xs", disabled: (ticket.being_served?).! do
  %i.fa.fa-check

%button.btn.btn-warning.btn-xs{"data-toggle" => "modal", "data-target" => "#edit-ticket-#{ticket.id}-modal"}
  %i.fa.fa-pencil

%button.btn.btn-danger.btn-xs{"data-toggle" => "modal", "data-target" => "#remove-ticket-#{ticket.id}-modal"}
  %i.fa.fa-trash



= render "tickets/edit", ticket: ticket
= render "tickets/remove", ticket: ticket
