.modal.fade{id: "edit-ticket-#{ticket.id}-modal", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = form_for ticket do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title.text-center= "Edit <b>#{ticket.name}</b>".html_safe
        .modal-body
          = f.text_field :name, class: "form-control"
        .modal-footer
          = f.submit "Save", class: "btn btn-success btn-block"

