.modal.fade{id: "new-ticket-modal", "aria-hidden" => "true", "aria-labelledby" => "NewTicketModal", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm

    .modal-content
      = form_for Ticket.new do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title.text-center= "Create a ticket"
        .modal-body
          %h6 Name:
          = f.text_field :name, class: "form-control", required: true
          %h6 Queue:
          = f.collection_select :service_queue_id, ServiceQueue.all, :id, :name,
            { selected: queue.id },
            { class: "form-control", disabled: true }
          = f.hidden_field :service_queue_id, value: queue.id
          %h6 Subspecialty:
          = f.grouped_collection_select :subspecialty_id, queue.specialties, :subspecialties, :name, :id, :name, {}, { class: "form-control" }
          %h6 Note (optional):
          = f.text_area :note, class: "form-control"

        .modal-footer
          = f.submit "Create Ticket", class: "btn btn-success btn-block"

:javascript
  $(document).ready(function() {
    $("#ticket_service_queue_id").change(function () {
      var queue_id = $("#ticket_service_queue_id").val();
      $("#ticket_subspecialty_id").empty();
    });
  });
