.modal.fade{id: "new-ticket-for-queue-#{queue.id}-modal", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = form_for queue.tickets.new do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title.text-center= "Create a ticket for <b>#{queue.name}</b>".html_safe
        .modal-body
          %h6 Name:
          = f.text_field :name, class: "form-control", required: true
          %h6 Queue:
          = f.collection_select :service_queue_id, ServiceQueue.all, :id, :name, {}, { class: "form-control" }
          %h6 Subspecialty:
          = f.grouped_collection_select :subspecialty_id, queue.specialties, :subspecialties, :name, :id, :name, {}, { class: "form-control" }
          %h6 Note (optional):
          = f.text_area :note, class: "form-control"

        .modal-footer
          = f.submit "Create Ticket", class: "btn btn-success btn-block"

