.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width: 6.5%"}
        %th{style: "width: 20%"} Name
        %th.text-center{style: "width: 10%"} Specialty
        %th.text-center Created At
        %th.text-center Currently Waiting For
        %th.text-center Est. Wait Time
        %th{style: "width: 20%"} Actions

    %tbody
      - tickets.waiting.sort_by(&:estimated_waiting_time).each do |ticket|
        %tr{class: ticket.color}
          %td
            = render "tickets/star", ticket: ticket
            = ticket.waiting_spot_in_queue
          %td
            = ticket.name.truncate(40)
            - unless ticket.note.blank?
              %i.fa.fa-file-text-o.pull-right{style: "opacity: 0.5"}
          %td.text-center
            - if ticket.subspecialty
              %span.label.label-primary{style: "background-color: #{ticket.subspecialty.specialty.badge_color}"}
                = "#{ticket.subspecialty.specialty.name.upcase} - #{ticket.subspecialty.name.upcase}"
          %td.text-center= ticket.created_at.strftime("%l:%M %p")
          -# %td.text-center= timeago_tag (ticket.created_at), limit: 20.days.ago
          %td.text-center
          -# %td.text-center= timeago_tag (Time.now - ticket.estimated_waiting_time)
          %td.text-center
          %td= render "tickets/actions", ticket: ticket
