.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width: 5%"}
        %th{style: "width: 25%"} Name
        %th.text-center{style: "width: 7.5%"} Specialty
        %th.text-center Created At
        %th.text-center Currently Waiting For
        %th.text-center Est. Wait Time
        %th{style: "width: 15%"} Actions

    %tbody
      - tickets.waiting.sort_by(&:waiting_spot).each do |ticket|
        %tr{class: ticket.color}
          %td
            = render "tickets/star", ticket: ticket
            = ticket.waiting_spot
          %td
            = ticket.name.truncate(40)
            - unless ticket.note.blank?
              %i.fa.fa-file-text-o.pull-right{style: "opacity: 0.5"}
          %td.text-center
            %span.label.label-primary{style: "background-color: #{ticket.subspecialty.specialty.badge_color}"}= ticket.subspecialty.name.upcase if ticket.subspecialty
          %td.text-center= ticket.created_at.strftime("%l:%M %p")
          %td.text-center= timeago_tag (ticket.created_at), limit: 20.days.ago
          %td.text-center= timeago_tag (Time.now - ticket.estimated_waiting_time)
          %td= render "tickets/actions", ticket: ticket
