.panel
  = nested_form_for @service_queue, html: { class: "form-inline" } do |f|
    .panel-heading
      = link_to manage_service_queue_path(@service_queue) do
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h2.text-center= "Edit <b>#{@service_queue.name}</b>".html_safe

    .panel-body
      .row{ style: "padding-top: 10px" }
        .form-group.col-md-6
          %h5= "Queue Name:"
          = f.text_field :name, class: "form-control", required: true
        .form-group.col-md-6
          %h5= "Initial Wait Time (min):"
          = f.number_field :initial_waiting_time, class: "form-control"

      %hr
      %h4
        Manage Specialties & Subspecialties
        = f.link_to_add :specialties, data: { target: "#new-specialty" }, class: "pull-right" do
          %button.btn.btn-success.btn-sm= "Add Specialty"

      %br

      = f.fields_for :specialties do |s|
        .input-group{ style: "margin-bottom: 10px" }
          .input-group-addon= "Specialty"
          .input-group-addon
            = s.hidden_field :badge_color, as: :minicolors, class: "minicolors-input"
          = s.text_field :name, class: "form-control", required: true

        = s.link_to_add :subspecialties, data: { target: "#new-subspecialty-#{s.object.id}" } do
          %button.btn.btn-success.btn-sm{ style: "margin-bottom: 10px" }= "Add Subspecialty"
        - if s.object.tickets.none?
          = s.link_to_remove do
            %button.btn.btn-danger.btn-sm{ style: "margin-bottom: 10px" }
              %i.fa.fa-trash-o
        - else
          %button.disabled.btn.btn-danger.btn-sm{ style: "margin-bottom: 10px" }
            %i.fa.fa-trash-o

        %ul{ style: "list-style-type: none" }
          = s.fields_for :subspecialties do |ss|
            %li
              .input-group{ style: "margin-bottom: 10px" }
                .input-group-addon= "Subspecialty"
                = ss.text_field :name, class: "form-control", required: true
              - if ss.object.tickets.none?
                = ss.link_to_remove do
                  %button.btn.btn-danger.btn-sm{ style: "margin-bottom: 10px" }
                    %i.fa.fa-trash-o{ style: "margin-right: 0px" }
              - else
                %button.disabled.btn.btn-danger.btn-sm{ style: "margin-bottom: 10px" }
                  %i.fa.fa-trash-o{ style: "margin-right: 0px" }

          %div{ id: "new-subspecialty-#{s.object.id}" }

      %div#new-specialty

    .panel-footer
      = f.submit "Save", class: "btn btn-success btn-block"

:javascript
  $(document).ready(function() {
    $(".minicolors-input").minicolors();
  });
