.col-md-12.col-sm-12.col-xs-12
  .panel
    .panel-heading
      %h2
        Service Queues
        = link_to show_all_service_queues_path, class: "btn btn-info pull-right", style: "margin-left: 5px;" do
          %i.fa.fa-eye{ style: "margin-right: 5px" }
          Public View

- @service_queues.limit(2).each do |service_queue|
  .col-md-6.col-sm-6.col-xs-6
    .panel

      .panel-heading
        %h1
          = link_to service_queue.name, manage_service_queue_path(service_queue)
          = link_to edit_service_queue_path(service_queue), class: "btn btn-warning pull-right" do
            %i.fa.fa-gear

      .panel-body

        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center Tickets Waiting
                %th.text-center Tickets Being Served
                %th.text-center Tickets Finished
                %th.text-center Total Tickets

            %tbody
              %tr
                %td.text-center= service_queue.tickets.waiting.count
                %td.text-center= service_queue.tickets.being_served.count
                %td.text-center= service_queue.tickets.served.count
                %td.text-center= service_queue.tickets.active.count

