.panel
  .panel-heading
    %h2
      Service Queues
      = link_to show_all_service_queues_path, class: "btn btn-info pull-right", style: "margin-left: 5px;" do
        %i.fa.fa-eye
      %button.btn.btn-success.pull-right{"data-toggle" => "modal", "data-target" => "#new-queue-modal"}= "Create Queue"

  .panel-body

    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th{style: "width: 15%"} Name
            %th.text-center Tickets
            %th.text-center Waiting
            %th.text-center Avg Wait Time
            %th.text-center Being Served
            %th.text-center Avg Service Time
            %th.text-center Finished
            %th Actions

        %tbody
          - @service_queues.each do |queue|
            %tr
              %td= link_to queue.name, manage_service_queue_path(queue)
              %td.text-center= queue.tickets.active.count
              %td.text-center= queue.tickets.waiting.count
              %td.text-center= timeago_tag (Time.now - queue.average_waiting_time) if queue.tickets.not_waiting.any?
              %td.text-center= queue.tickets.being_served.count
              %td.text-center= timeago_tag (Time.now - queue.average_service_time) if queue.tickets.served.any?
              %td.text-center= queue.tickets.served.count
              %td
    
                .btn-group
                  %button.btn.btn-default.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }}
                    Actions
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to manage_service_queue_path(queue) do
                        %i.fa.fa-list-ol
                        Manage Queue
                    %li
                      = link_to service_queue_path(queue) do
                        %i.fa.fa-eye
                        View Queue
                    %li
                      %a{"data-toggle" => "modal", "data-target" => "#edit-queue-#{queue.id}-modal"}
                        %i.fa.fa-gear
                        Edit Queue

                    %li
                      = link_to service_queue_path(queue), method: :delete, data: { confirm: "Are you sure?" } do
                        %i.fa.fa-trash
                        Delete Queue

                = render "edit", queue: queue

    = render "new"
