%h2
  = @service_queue.name
  = link_to service_queue_path(@service_queue), class: "btn btn-info pull-right", style: "margin-left: 5px;" do
    %i.fa.fa-eye
      
  %button.btn.btn-warning.pull-right{"data-toggle" => "modal", "data-target" => "#edit-queue-#{@service_queue.id}-modal", style: "margin-left: 5px"}
    %i.fa.fa-gear

  %button.btn.btn-success.pull-right{"data-toggle" => "modal", "data-target" => "#new-ticket-for-queue-#{@service_queue.id}-modal"}= "Create Ticket"

= render "edit", queue: @service_queue

-#
-# .table-responsive
-#   %table.table.table-bordered.table-hover
-#     %thead
-#       %tr
-#         %th Specialties
-#         %th.text-center Total Tickets
-#         %th.text-center Waiting
-#         %th.text-center Avg Wait Time
-#         %th.text-center Being Served
-#         %th.text-center Avg Service Time
-#         %th.text-center Finished
-#
-#     %tbody
-#       %tr
-#         %td
-#           - @service_queue.specialties_array.each do |specialty|
-#             %span.label.label-primary= specialty.upcase
-#         %td.text-center= @service_queue.tickets.count
-#         %td.text-center= @service_queue.tickets.waiting.count
-#         %td.text-center= time_ago_in_words(Time.now - @service_queue.average_waiting_time) if @service_queue.tickets.waiting.any?
-#         %td.text-center= @service_queue.tickets.being_served.count
-#         %td.text-center= time_ago_in_words(Time.now - @service_queue.average_service_time) if @service_queue.tickets.served.any?
-#         %td.text-center= @service_queue.tickets.served.count
-#

%hr

%h4.text-center
  %i.fa.fa-refresh
  Being Served
  %span.label.label-success.pull-right= @service_queue.tickets.being_served.count

.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width: 5%"}
        %th{style: "width: 25%"} Name
        %th.text-center{style: "width: 7.5%"} Specialty
        %th.text-center Created At
        %th.text-center Waiting Time
        %th.text-center Started Service At
        %th.text-center Current Service Time
        %th{style: "width: 15%"} Actions

    %tbody
      - @service_queue.tickets.being_served.each do |ticket|
        %tr.success
          %td
            = render "tickets/star", ticket: ticket
            = ticket.waiting_spot
          %td
            = ticket.name.truncate(40)
            - if ticket.note
              %i.fa.fa-file-text-o.pull-right{style: "opacity: 0.5"}
          %td.text-center
            %span.label.label-primary= ticket.specialty.upcase if ticket.specialty
          %td.text-center= ticket.created_at.strftime("%l:%M %p")
          %td.text-center= time_ago_in_words(Time.now - ticket.waiting_time)
          %td.text-center= ticket.started_service_at && ticket.started_service_at.strftime("%l:%M %p")
          %td.text-center= time_ago_in_words(Time.now - ticket.service_time)
          %td
            = link_to ticket_path(ticket, ticket: {started_service_at: DateTime.now}), method: :patch, class: "btn btn-success btn-xs", disabled: (ticket.waiting?).! do
              %i.fa.fa-play
            = link_to ticket_path(ticket, ticket: {finished_service_at: DateTime.now}), method: :patch, class: "btn btn-info btn-xs", disabled: (ticket.being_served?).! do
              %i.fa.fa-check
            %button.btn.btn-warning.btn-xs{"data-toggle" => "modal", "data-target" => "#edit-ticket-#{ticket.id}-modal"}
              %i.fa.fa-pencil
            %button.btn.btn-danger.btn-xs{"data-toggle" => "modal", "data-target" => "#remove-ticket-#{ticket.id}-modal"}
              %i.fa.fa-trash
            -# = link_to ticket_path(ticket), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do
            -#   %i.fa.fa-trash
            = render "tickets/edit", ticket: ticket
            = render "tickets/remove", ticket: ticket
%hr

%h4.text-center
  %i.fa.fa-clock-o 
  Waiting
  %span.label.label-warning.pull-right= @service_queue.tickets.waiting.count

.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width: 5%"}
        %th{style: "width: 25%"} Name
        %th.text-center{style: "width: 7.5%"} Specialty
        %th.text-center Created At
        %th.text-center Current Waiting Time
        %th.text-center Est. Wait Time
        %th{style: "width: 15%"} Actions

    %tbody
      - @service_queue.tickets.waiting.each do |ticket|
        %tr{class: ticket.color}
          %td
            = render "tickets/star", ticket: ticket
            = ticket.waiting_spot
          %td
            = ticket.name.truncate(40)
            - unless ticket.note.blank?
              %i.fa.fa-file-text-o.pull-right{style: "opacity: 0.5"}
          %td.text-center
            %span.label.label-primary= ticket.specialty.upcase if ticket.specialty
          %td.text-center= ticket.created_at.strftime("%l:%M %p")
          %td.text-center= time_ago_in_words(Time.now - ticket.waiting_time)
          %td.text-center= time_ago_in_words(Time.now - ticket.estimated_waiting_time)
          %td
            = link_to ticket_path(ticket, ticket: {started_service_at: DateTime.now}), method: :patch, class: "btn btn-success btn-xs", disabled: (ticket.waiting?).! do
              %i.fa.fa-play
            = link_to ticket_path(ticket, ticket: {finished_service_at: DateTime.now}), method: :patch, class: "btn btn-info btn-xs", disabled: (ticket.being_served?).! do
              %i.fa.fa-check
            %button.btn.btn-warning.btn-xs{"data-toggle" => "modal", "data-target" => "#edit-ticket-#{ticket.id}-modal"}
              %i.fa.fa-pencil
            = link_to ticket_path(ticket), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do
              %i.fa.fa-trash
            = render "tickets/edit", ticket: ticket
%hr

%h4.text-center
  %i.fa.fa-check-circle
  Served
  %span.label.label-default.pull-right= @service_queue.tickets.served.count

.table-responsive
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{style: "width: 5%"}
        %th{style: "width: 25%"} Name
        %th.text-center{style: "width: 7.5%"} Specialty
        %th.text-center Created At
        %th.text-center Waiting Time
        %th.text-center Started Service At
        %th.text-center Service Time
        %th.text-center Finished At
        %th{style: "width: 15%"} Actions

    %tbody
      - @service_queue.tickets.served.each do |ticket|
        %tr.active
          %td 
            = render "tickets/star", ticket: ticket
          %td
            = ticket.name.truncate(40)
            - unless ticket.note.blank?
              %i.fa.fa-file-text-o.pull-right{style: "opacity: 0.5"}
          %td.text-center
            %span.label.label-primary= ticket.specialty.upcase if ticket.specialty
          %td.text-center= ticket.created_at.strftime("%l:%M %p")
          %td.text-center= time_ago_in_words(Time.now - ticket.waiting_time.seconds) 
          %td.text-center= ticket.started_service_at && ticket.started_service_at.strftime("%l:%M %p")
          %td.text-center= time_ago_in_words(Time.now - ticket.service_time.seconds)
          %td.text-center= ticket.finished_service_at.strftime("%l:%M %p")
          %td
            = link_to ticket_path(ticket, ticket: {started_service_at: DateTime.now}), method: :patch, class: "btn btn-success btn-xs", disabled: (ticket.waiting?).! do
              %i.fa.fa-play
            = link_to ticket_path(ticket, ticket: {finished_service_at: DateTime.now}), method: :patch, class: "btn btn-info btn-xs", disabled: (ticket.being_served?).! do
              %i.fa.fa-check
            %button.btn.btn-warning.btn-xs{"data-toggle" => "modal", "data-target" => "#edit-ticket-#{ticket.id}-modal"}
              %i.fa.fa-pencil
            = link_to ticket_path(ticket), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } do
              %i.fa.fa-trash
            = render "tickets/edit", ticket: ticket

= render "tickets/new", queue: @service_queue
%hr
