%h2
  = @service_queue.name
  = link_to service_queue_path(@service_queue), class: "btn btn-info pull-right", style: "margin-left: 5px;" do
    %i.fa.fa-eye

  %button.btn.btn-warning.pull-right{"data-toggle" => "modal", "data-target" => "#edit-queue-#{@service_queue.id}-modal", style: "margin-left: 5px"}
    %i.fa.fa-gear

  %button.btn.btn-success.pull-right{"data-toggle" => "modal", "data-target" => "#new-ticket-for-queue-#{@service_queue.id}-modal"}
    %i.fa.fa-user{style: "margin-right: 5px;"}
    Create Ticket

= render "edit", queue: @service_queue

%hr

%ul.nav.nav-tabs.nav-justified{:role => "tablist"}
  -# %li.active
  -#   %a{"data-toggle" => "tab", :role => "tab", :href => "#all"}
  -#     All
  -#     %span.badge= @service_queue.tickets.active.count
  %li.active
    %a{"data-toggle" => "tab", :role => "tab", :href => "#being-served"}
      %i.fa.fa-refresh
      Being Served
      %span.badge= @service_queue.tickets.being_served.count
  %li
    %a{"data-toggle" => "tab", :role => "tab", :href => "#waiting"}
      %i.fa.fa-clock-o
      Waiting
      %span.badge= @service_queue.tickets.waiting.count
  %li
    %a{"data-toggle" => "tab", :role => "tab", :href => "#served"}
      %i.fa.fa-check-circle
      Served
      %span.badge= @service_queue.tickets.served.count

%br
%br

.tab-content
  -# #all.tab-pane.fade.in.active
    -# = render "being_served", queue: @service_queue
    -# %hr
    -# = render "waiting", queue: @service_queue
    -# %hr
    -# = render "served", queue: @service_queue
  #being-served.tab-pane.fade.in.active
    = render "being_served", queue: @service_queue
  #waiting.tab-pane.fade
    = render "waiting", queue: @service_queue
  #served.tab-pane.fade
    = render "served", queue: @service_queue

= render "tickets/new", queue: @service_queue
%hr
