.panel
  .panel-heading
    %h1.text-center= @service_queue.name

  .panel-body
    .table-responsive
      %table.table.table-bordered.table-responsive{style: "font-size: 16px"}
        %thead
          %tr
            %th.col-md-1.text-center= "#"
            %th= "Name"
            %th.text-center= "Specialty"
            %th.col-md-3.text-center= "Estimated Wait Time"

        %tbody
          - @service_queue.tickets.waiting.sort_by(&:waiting_spot).each do |ticket|
            %tr{class: ("warning" if ticket.first_in_waiting?)}
              %td.text-center= ticket.waiting_spot
              %td= ticket.name
              %td.text-center
                %span.label.label-primary{style: "background-color: #{ticket.subspecialty.specialty.badge_color}"}= ticket.subspecialty.name.upcase if ticket.subspecialty
              %td.text-center= timeago_tag (Time.now - ticket.estimated_waiting_time)

:javascript
  $(document).ready(function() {
    setInterval(function() { location.reload(); }, ("#{escape_javascript (@service_queue.refresh_interval*60000).to_s}"));
  });

