- @service_queues.limit(2).each do |service_queue|
  .col-md-6
    .panel

      .panel-heading
        %h1.text-center= service_queue.name

      .panel-body
        %table.table.table-bordered.table-responsive{style: "font-size: 16px"}
          %thead
            %tr{style: "font-size: 20px;"}
              %th.col-md-1.text-center= "#"
              %th= "Name"
              %th.text-center= "Specialty"
              %th.col-md-4.text-center= "Estimated Wait Time"

          %tbody
            - service_queue.tickets.waiting.sort_by(&:estimated_waiting_time).each do |ticket|
              %tr{class: ("warning" if ticket.first_in_waiting?)}
                %td.text-center= ticket.waiting_spot_in_queue
                %td= ticket.name
                %td.text-center
                  %span.label.label-primary{style: "background-color: #{ticket.subspecialty.specialty.badge_color}; font-size: 90%;"}= ticket.subspecialty.name.upcase if ticket.subspecialty
                %td.text-center= timeago_tag (Time.now - ticket.estimated_waiting_time)

:javascript
  $(document).ready(function() {
    setInterval(function() { location.reload(); }, ("#{escape_javascript (@service_queues.first.refresh_interval*60000).to_s}"));
  });

