%h2= @service_queue.name

%table.table.table-bordered
  %tr
    %th= "#"
    %th= "Name"
    %th= "Status"

  - @service_queue.tickets.waiting.each do |ticket|
    %tr
      %td= @service_queue.waiting_spot_of(ticket) if ticket.waiting?
      %td= ticket.name
      %td= ticket.status

