%h1.text-center= @service_queue.name

.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th.col-md-1.text-center= "#"
        %th= "Name"
        %th.col-md-1.text-center= "Status"

    - @service_queue.tickets.waiting.each do |ticket|
      %tbody
        %tr{class: ("warning" if ticket.first_in_waiting?)}
          %td.text-center= ticket.waiting_spot
          %td= ticket.name
          %td.text-center= ticket.status

:javascript
  $(document).ready(function() {
    setInterval(function() { location.reload(); }, ("#{escape_javascript (@service_queue.refresh_interval*60000).to_s}"));
  });
                                                
