!!!
%html
  %head
    %title= "Charon"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet"}

  %body

    %nav.navbar.navbar-default{role: "navigation"}
      .container
        .navbar-header.pull-left
          = link_to root_path do
            .navbar-brand.logo= "eClinicalWorks"

    .container
      = yield

